<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <title>Vultr教程 | Vultr中文网</title>
    <meta name="description" content="本节我们为大家介绍Vultr各方面教程，这些教程均为Vultr中文网原创教程。
让您可以在20分钟内完成购买、配置服务器、搭建WordPress博客程序。
一起来看吧！
[手把手]图文购买教程
通过SSH管理服务器
1分钟快速搭建55
3分钟快速安装宝塔面"/>
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/website.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
{% include 'nav.html' %}
</div>
</div>
<div class="book-body">
    <div class="body-inner">
        <div class="book-header" role="navigation">
            <h1><a href="{% url 'vultr_course' %}">Vultr教程</a></h1>
        </div>
        <div class="page-wrapper" tabindex="-1" role="main">
            <div class="page-inner">

                <section class="normal markdown-section">
                    <h1 id="Vultr教程">Vultr教程<a class="anchorjs-link " href="#Vultr教程" data-anchorjs-icon=""></a></h1>
                    <p><span class="sa-last-update-time">最后更新于：2017-12-31</span></p>
                    <p>本节我们为大家介绍Vultr各方面教程，这些教程均为Vultr中文网原创教程。</p>
                    <p>让您可以在20分钟内完成购买、配置服务器</p>
                    <p>一起来看吧！</p>
                    <p><a href="{% url 'vultr_buy' %}" target="_blank" rel="noopener" rel="nofollow">[手把手]图文购买教程</a></p>
                    <p><a href="{% url 'vultr_ssh' %}" target="_blank" rel="noopener" rel="nofollow">通过SSH管理服务器</a></p>
                </section>
            </div>
        </div>
        <div class="banquan">
            <script> var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?16b7934b9f17e5acd25d84b4ccb08fd1";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })(); </script>
        </div>
    </div>
    <a href="" rel="nofollow" class="navigation navigation-prev" id="shangyige">
        <i class="fa fa-angle-left"></i>
    </a>
    <a href="" rel="nofollow" class="navigation navigation-next" id="xiayige">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
{% include 'end.html' %}